
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   font-family: 'Inter', sans-serif;
}

header{
   font-weight: 300;
}

body::-webkit-scrollbar {
   width: 0;
}

::-webkit-scrollbar {
   display: none;
}


.yellow {
   background-color: rgb(255, 255, 230);
}

.red {
   background-color: rgb(245, 230, 230);
}

.green {
   background-color: rgb(229, 255, 229);
}

.bottom {
   padding-bottom: .5rem;
   border-bottom: 2px solid whitesmoke;
}