body::-webkit-scrollbar{
   width: 0;
}

::-webkit-scrollbar{
   display: none;
}


.yellow{
   background-color: rgb(236, 236, 192);
}
.red{
   background-color: rgb(249, 218, 218);
}
.green{
   background-color: rgb(213, 240, 213);
}